html,
body {
    background-color: antiquewhite;
    margin: 0;
    padding: 0;
    height: 100%;
}

#map {
    height: 100%;
}

.popup {
    display: flex;
    gap: 1rem;
    overflow: auto;
    padding: 1rem;
}
#map .mapboxgl-popup-content {
    width: 500px;
    padding: 0px;
    
}

.bureau-de-vote {
    flex-shrink: 0;
}